<h1>Posts#index</h1>
<%= form_tag(posts_new_path, method: "get") do %>
  <%= submit_tag("Create Post") %>
<% end %>
<br><br>

<table style="width:100%" border='1px solid black'>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.email%>
      </td>
      <td><%= link_to post.title,posts_show_path(id:post.id)%></td>
      <td><%= post.body %></td>
    </tr>
  <% end %>
</table>
