<h1>Posts#show</h1>

author:<%= @author%>
<h2><%= @post.title %></h2>
<%= @post.body %>
<% if @post.user_id == session[:user_id] %>
<%= form_tag("/posts/edit", method: "get") do %>
  <%= hidden_field_tag(:id, @post.id) %><br>
  <%= submit_tag("Edit Post") %>
<% end %>
<%= form_tag("/posts/delete", method: "post") do %>
  <%= hidden_field_tag(:id, @post.id) %><br>
  <%= submit_tag("Delete Post") %>
<% end %>
<% end %>
<br><br>
<table style="width:80%" border='1px solid black'>
  <tr>
    <th>Author</th>
    <th>Comments</th>
    <th>Actions</th>
  </tr>
<% @post.comments.each do |comment| %>
<tr>
  <td><%= comment.user.email%></td>
  <td><%= comment.body%></td>
  <% if comment.user_id == session[:user_id] %>
    <td>
      <%= form_tag("/comments/update", method: "post") do %>
        <%= hidden_field_tag(:id, comment.id) %>
        <%= text_area_tag(:body) %>
        <%= hidden_field_tag(:post_id, @post.id) %>
        <%= submit_tag("Edit comment") %>
      <% end %>
    </td>
    <td>
      <%= form_tag("/comments/delete", method: "post") do %>
        <%= hidden_field_tag(:id, comment.id) %>
        <%= hidden_field_tag(:post_id, @post.id) %>
        <%= submit_tag("Delete comment") %>
      <% end %>
    </td>
    <% end %>
</tr>
<% end %>
<tr>
  <%= form_tag("/comments/create", method: "post") do %>
    <td>
      <%= text_area_tag(:body) %>
    </td>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <td>
    <%= submit_tag("Create comment") %>
  </td>
  <% end %>
</tr>
</table>
