<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= form_tag(root_path, method: "get") do %>
    <%= submit_tag("Return to index") %>
  <% end %>
    <% if(logged_in?) %>
    <%= form_tag(session_destroy_path, method: "post") do %>
      <%= submit_tag("Log out") %>
      <% end %>
    <% else %>
    <%= form_tag(session_new_path, method: "get") do %>
      <%= submit_tag("Log in") %>
      <% end %>
    <% end %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
